<!--@subject Password Reset Confirmation for {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"store url=\"adminhtml/index/resetpassword/\" _query_id=$user.id _query_token=$user.rp_token":"Reset Password URL",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<body style="background:#FFFFFF; font-family:Helvetica, Verdana, Arial, sans-serif; font-size:12px; margin:0; padding:0; color:#444;">
<div style="background:#FFFFFF; font-family:Helvetica, Verdana, Arial, sans-serif; font-size:12px; margin:0; padding:0; color:#444;">
<table align="center" cellspacing="0" cellpadding="0" border="0" width="600" style="background:#ffffff; margin-top:20px; margin-bottom:20px;">
    <tr>
        <td align="center" valign="top">
        
        <!-- [ header starts here] -->

            <table cellspacing="0" cellpadding="0" border="0" width="600" height="200" style="background-color:#00b8d0;">
                <tr>
                    <td valign="top" align="left"width="600" >
                        <h1 style="font-size:20px;color:#fff;text-align:left;">Welcome to GSP</h1>
                    </td>
                </tr>
            </table>
            
        <!-- [ middle starts here] -->
        
            <table cellspacing="0" cellpadding="0" border="0" width="600">
                <tr>
                    <td valign="top" align="left">
                        <h1 style="font-size: 15px; font-weight:normal; margin:30px 0 20px 0;">
                            Hello {{htmlescape var=$user.name}}
                        </h1>
                        <p style="font-size:12px; line-height:20px; margin:0 0 10px 0;">
                            There was recently a request to change the password for your account.
                        </p>
                        <p style="font-size:12px; line-height:20px; margin:0 0 10px 0;">
                            If you requested this password change, please click on the following link to reset your password: <a href="{{store url='adminhtml/index/resetpassword/' _query_id=$user.id _query_token=$user.rp_token}}" style="color:#1865a2;">{{store url='adminhtml/index/resetpassword/' _query_id=$user.id _query_token=$user.rp_token}}</a>.
                        </p>
                        <p style="font-size:12px; line-height:20px; margin:0 0 10px 0;">
                            (If clicking the link does not work, please copy and paste the URL into your browser instead)
                        </p>
                           <p style="font-size:12px; line-height:20px; margin:0 0 10px 0;">
                            If you did not make this request, you can ignore this message and your password will remain the same.
                        </p>
                        <br />
                        <p style="font-size:12px; line-height:20px; margin:0 0 10px 0;">
                            <strong>{{config path='general/store_information/name'}}</strong>
                        </p>
                    </td>
                </tr>
            </table>
            
        <!-- [ footer starts here] -->    
            
            <table cellspacing="0" cellpadding="0" border="0" width="600" style="border-top:1px solid #dddddd;">
                <tr>
                    <td valign="top" align="left" width="33%">
                        <p style="font-size:12px; line-height:20px; margin:20px 0 0 0;">{{config path='general/store_information/name'}}</p>
                        <p style="font-size:12px; line-height:20px; margin:0;">{{config path='general/store_information/address'}}</p>
                        <p style="font-size:12px; line-height:20px; margin:0;">{{config path='general/store_information/zip_city'}}</p>
                        <p style="font-size:12px; line-height:20px; margin:0 0 10px 0;">{{block type="design/email_country"}}</p>
                    </td>
                    <td valign="top" align="left" width="33%">
                        <p style="font-size:12px; line-height:20px; margin:20px 0 0 0;">{{config path='general/store_information/phone'}}</p>
                        <p style="font-size:12px; line-height:20px; margin:0;">{{config path='general/store_information/hours'}}</p>
                        <p style="font-size:12px; line-height:20px; margin:0;"><a href="mailto:{{config path='general/trans_email/ident_general/email'}}" style="color:#1865a2;">{{config path='general/trans_email/ident_general/email'}}</a></p>
                        <p style="font-size:12px; line-height:20px; margin:0 0 10px 0;"><a href="{{store url=''}}" style="color:#1865a2;">{{config path='basicsetup/contact_details/url'}}</a></p>
                    </td>
                    <td valign="top" align="left" width="33%">
                        <p style="font-size:12px; line-height:20px; margin:20px 0 0 0;">{{config path='sales_email/email_templates/email_footer1'}}</p>
                        <p style="font-size:12px; line-height:20px; margin:0;">{{config path='sales_email/email_templates/email_footer2'}}</p>
                        <p style="font-size:12px; line-height:20px; margin:0;">{{config path='sales_email/email_templates/email_footer3'}}</p>
                        <p style="font-size:12px; line-height:20px; margin:0 0 10px 0;">{{config path='sales_email/email_templates/email_footer4'}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>