<?xml version="1.0" ?>
<config>
    <modules>
        <Fyndiq_Fyndiq>
            <version>1.0.8</version>
        </Fyndiq_Fyndiq>
    </modules>
    <global>
        <models>
            <fyndiq>
                <class>Fyndiq_Fyndiq_Model</class>
                <resourceModel>fyndiq_resource</resourceModel>
            </fyndiq>
            <observer>
                <class>Fyndiq_Fyndiq_Model_Observer</class>
            </observer>
            <fyndiq_resource>
                <class>Fyndiq_Fyndiq_Model_Resource</class>
                <entities>
                    <product>
                        <table>fyndiq_products</table>
                    </product>
                    <order>
                        <table>fyndiq_orders</table>
                    </order>
                    <setting>
                        <table>fyndiq_settings</table>
                    </setting>
                </entities>
            </fyndiq_resource>
            <sales>
                <rewrite>
                    <quote_address>Fyndiq_Fyndiq_Model_Sales_Quote_Address</quote_address>
                </rewrite>
            </sales>
        </models>
        <resources>
            <fyndiqmodule_setup>
                <setup>
                    <module>Fyndiq_Fyndiq</module>
                </setup>
            </fyndiqmodule_setup>
        </resources>
        <blocks>
            <Fyndiq>
                <rewrite>
                    <exportproducts>Fyndiq_Fyndiq_Block_Exportproducts</exportproducts>
                </rewrite>
            </Fyndiq>
        </blocks>
        <events>
            <admin_system_config_changed_section_fyndiq>
                <observers>
                    <fyndiq>
                        <type>singleton</type>
                        <class>fyndiq/observer</class>
                        <method>handle_fyndiqConfigChangedSection</method>
                    </fyndiq>
                </observers>
            </admin_system_config_changed_section_fyndiq>
        </events>
    </global>
    <admin>
        <routers>
            <Fyndiq>
                <use>admin</use>
                <args>
                    <module>Fyndiq_Fyndiq</module>
                    <frontName>fyndiq</frontName>
                </args>
            </Fyndiq>
        </routers>
        <layout>
            <updates>
                <Fyndiq>
                    <file>fyndiqadmin.xml</file>
                </Fyndiq>
            </updates>
        </layout>
    </admin>
    <adminhtml>
        <menu>
            <system>
                <children>
                    <fyndiq>
                        <title>Fyndiq Export/Import</title>
                        <sort_order>0</sort_order>
                        <action>fyndiq/admin/index</action>
                    </fyndiq>
                </children>
            </system>
        </menu>
    </adminhtml>
    <frontend>
        <routers>
            <Fyndiq>
                <use>standard</use>
                <args>
                    <module>Fyndiq_Fyndiq</module>
                    <frontName>fyndiq</frontName>
                </args>
            </Fyndiq>
        </routers>
    </frontend>
    <default>
        <fyndiq>
            <fyndiq_group>
                <price_percentage>10</price_percentage>
                <quantity_percentage>10</quantity_percentage>
                <import_state>processing</import_state>
                <done_state>complete</done_state>
                <country>SE</country>
                <currency>SEK</currency>
                <import_orders_disabled>0</import_orders_disabled>
                <fyndiq_payment_method>fyndiq_fyndiq</fyndiq_payment_method>
                <fyndiq_shipment_method>fyndiq_fyndiq_standard</fyndiq_shipment_method>
            </fyndiq_group>
        </fyndiq>
        <carriers>
            <fyndiq_fyndiq>
                <active>1</active>
                <model>fyndiq/carrier</model>
                <title>Fyndiq Carrier</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <express_max_weight>1</express_max_weight>
                <show_in_default>0</show_in_default>
                <show_in_website>0</show_in_website>
                <show_in_store>0</show_in_store>
            </fyndiq_fyndiq>
        </carriers>
        <payment>
            <fyndiq_fyndiq>
                <model>fyndiq/payment</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>Fyndiq</title>
                <visible_on_cart>0</visible_on_cart>
                <visible_on_product>0</visible_on_product>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>100</sort_order>
            </fyndiq_fyndiq>
        </payment>
    </default>
</config>
