<?xml version="1.0"?>
<config>
	<modules>
		<Ecom_BestsellerIndex>
			<version>1.1.2</version>
		</Ecom_BestsellerIndex>
	</modules>
	<global>
		<models>
			<bestsellerindex>
				<class>Ecom_BestsellerIndex_Model</class>
			</bestsellerindex>
		</models>
		<helpers>
			<bestsellerindex>
				<class>Ecom_BestsellerIndex_Helper</class>
			</bestsellerindex>
		</helpers>
		<blocks>
			<bestsellerindex>
				<class>Ecom_BestsellerIndex_Block</class>
			</bestsellerindex>
		</blocks>
		<resources>
			<ecom_bestsellerindex_setup>
				<setup>
					<module>Ecom_BestsellerIndex</module>
					<class>Ecom_BestsellerIndex_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ecom_bestsellerindex_setup>
 
			<bestsellerindex_write>
				<connection>
					<use>core_write</use>
				</connection>
			</bestsellerindex_write>
			<bestsellerindex_read>
				<connection>
					<use>core_read</use>
				</connection>
			</bestsellerindex_read>
		</resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<bestseller_index module="Ecom_BestsellerIndex">
					<file>bestseller_index.xml</file>
				</bestseller_index>
			</updates>
		</layout>
	</frontend>
	<crontab>
        <jobs>
            <ecom_bestsellerindex_processall>
                <schedule><cron_expr>15 4 * * *</cron_expr></schedule> <!-- run at 04:15 every day -->
                <run><model>bestsellerindex/process::processoneday</model></run>
            </ecom_bestsellerindex_processall>
        </jobs>
	</crontab>
	<default>
		<catalog>
			<frontend>
				<bestsellerbehavior>qty</bestsellerbehavior>
				<default_sort_by>bestseller_index</default_sort_by>
				<sort_by_desc>1</sort_by_desc>
			</frontend>
		</catalog>
	</default>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ecom_bestsellerindex before="Mage_Adminhtml">Ecom_BestsellerIndex_Adminhtml</ecom_bestsellerindex>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config> 