.btn,
.fm-button {
  @include border-radius(5px);
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-button;
  outline: none;
  padding: 6px 12px;
  text-decoration: none;
}

.btn:hover,
.fm-button:hover {
  text-decoration: none;
}

.fm-button.green,
.btn-green,
.btn-green:visited {
  background: $color-button-primary-background;
  color: $color-button-primary-text;
}

.fm-button.red,
.btn-red,
.btn-red:visited {
  background: $color-inactive;
  color: $color-button-primary-text;
}

.btn-nav,
.btn-nav:visited {
  background: $color-navigation-inactive-background;
  border: 1px solid $color-navigation-inactive-border;
  color: $color-navigation-inactive-text;
  font-size: $font-size-nav-button;
}

.btn-nav.active,
.btn-nav.active:visited,
.btn-nav:hover {
  background: $color-navigation-active-background;
  border: 1px solid $color-navigation-active-border;
  color: $color-navigation-active-text;
}

.fm-button.disabled {
  background: $color-disabled-background;
  border: 1px solid $color-disabled-background;
  color: $color-disabled-text;
}
