.fm-module-check {
  list-style: none;
}

.fm-probe-result {
  margin: 0 0 1em 3em;
  padding: 1em;
}

.fm-probe-error .fm-probe-result {
  background: rgba(255, 0, 0, .1);
}

.fm-probe-success .fm-probe-result {
  background: rgba(0, 255, 0, .1);
}
