// General colors
$color-black: #000;
$color-brand: #ea524f;
$color-light: #fff;
$color-dark: #333;
$color-page-background: #e7eef4;
$color-disabled-text: #b3b3b3;
$color-disabled-background: #e3e3e3;
$color-muted: #999;
$color-pending: #f08c48;
$color-enabled: #83c070;
$color-inactive: #e85353;

// Panel
$color-panel-header-background: #799ec4;
$color-panel-header-text: $color-light;
$color-panel-body-background: $color-light;
$color-panel-body-text: $color-dark;
$color-panel-footer-background: #f5f9fc;
$color-panel-footer-text: $color-dark;

// Buttons
$color-button-primary-background: $color-enabled;
$color-button-primary-text: $color-light;

// Messages
$color-message-success-background: #6eb755;
$color-message-success-text: $color-light;

// Navigation
$color-navigation-background: $color-light;
$color-navigation-active-background: $color-brand;
$color-navigation-active-text: $color-light;
$color-navigation-active-border: $color-brand;
$color-navigation-inactive-background: $color-light;
$color-navigation-inactive-text: $color-dark;
$color-navigation-inactive-border: #e3e8ec;


// Table
$color-table-header-background: #f5f8fb;
$color-table-odd-row-background: #f5f8fb;
$color-table-border-color: #e3e8ec;

// Pagination
$color-pagination-inactive-background: #fcfdff;
$color-pagination-inactive-text: $color-light;
$color-pagination-active-background: $color-pending;
$color-pagination-inactive-text: $color-dark;
$color-pagination-disabled-text: $color-disabled-text;

// Form
$color-form-input-border: #ccc;

// Messages
$color-message-info-background: #799ec4;
$color-message-info-border: #87acd3;

$color-message-error-background: #e85353;
$color-message-error-border: #f55454;

$color-message-warning-background: #e85353;
$color-message-warning-border: #f55454;

$color-message-success-background: #83c070;
$color-message-success-border: #9bde87;
