.form-horizontal {

  fieldset {
    background-color: transparent;
    border: 0;
  }

  label {
    margin-top: -3pt;
    text-align: right;
    width: 48%;
  }

  input,
  select {
    border: 1px solid $color-form-input-border;
    float: left;
    font-size: 12pt;
    text-align: left;
  }

  .form-group {
    height: 2em;
  }
}
