.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center,
.center {
  text-align: center;
}

.icon {
  @include border-radius(50%);

  border: 3px solid $color-light;
  display: inline-block;
  height: $icon-size;
  vertical-align: middle;
  width: $icon-size;

  &.pending {
    background-color: $color-pending;
  }

  &.on {
    background-color: $color-enabled;
  }

  &.noton {
    background-color: $color-inactive;
  }

  &.big {
    border: 0;
    height: $big-icon-size;
    width: $big-icon-size;
  }
}

.shadow,
.muted {
  color: $color-muted;
}

.hidden {
  display: none;
}
