.fm-orderlist-panel {
  float: left;
  width: 700px;
}

.fm-sidebar {
  float: left;
  margin-left: 10px;
  width: 240px;

  .fm-button {
    text-align: center;
    width: 190px;
  }
}

.lastupdated {
  background-color: $color-table-header-background;
  font-size: 12px;
  font-weight: 400;
  height: 41px;
  line-height: 21px;
  margin-bottom: 1em;
  padding: 10px;

  img {
    float: left;
  }

  .last-header {
    display: block;
    margin: 3px 0 -5px;
  }
}

.fm-orders-list a {
  color: $color-pending;
  text-decoration: underline;
}
