.fm-loading-overlay {
  @include overlay;

  img {
    display: block;
    height: 128px;
    margin: 200px auto;
    width: 128px;
  }
}

.fm-message-overlay {
  // http://www.red-team-design.com/cool-notification-messages-with-css3-jquery
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .3);
  color: $color-light;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  h3,
  p {
    margin: 1em;
    text-align: center;
  }

  &.fm-info {
    background-color: $color-message-info-background;
    border-color: $color-message-info-border;
  }

  &.fm-error {
    background-color: $color-message-error-background;
    border-color: $color-message-error-border;
  }

  &.fm-warning {
    background-color: $color-message-warning-background;
    border-color: $color-message-warning-border;
  }

  &.fm-success {
    background-color: $color-message-success-background;
    border-color: $color-message-success-border;
  }

  .close {
    cursor: pointer;
    display: block;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
  }
}

.fm-update-message {
  background: $color-brand;
  color: $color-light;
  margin-top: 30px;
  padding: 1em;

  a {
    color: $color-light;
    text-decoration: underline;
  }
}
