$font-family-default: 'Montserrat', sans-serif;
$font-text-default: 9pt;
$font-text-small: 11pt;


// Panel
$font-size-panel-header: 15pt;
$font-size-panel-header-subtext: 10pt;

// Navigation
$font-size-navigation-button: 16pt;

// Categories
$font-size-category: 12pt;

// Button
$font-size-nav-button: 13pt;
$font-size-button-big: 16pt;
$font-size-button: 10pt;

// Table
$font-size-table-header: 9pt;
$font-size-table-text: 9pt;

// Pagination
$font-size-pagination: 13pt;

// Message
$font-size-message-header: 28pt;
$font-size-message-text: $font-text-default;

// Products
$font-size-category-list-item: 12pt;
