<?xml version="1.0"?>
<config>
	<modules>
		<Ecom_UltraCart>
			<version>2.0.5</version>
		</Ecom_UltraCart>
	</modules>
	<global>
		<blocks>
			<ultracart>
				<class>Ecom_UltraCart_Block</class>
			</ultracart>
		</blocks>
		<helpers>
			<ultracart>
				<class>Ecom_UltraCart_Helper</class>
			</ultracart>
		</helpers>
		<models>
			<ultracart>
				<class>Ecom_UltraCart_Model</class>
			</ultracart>
		</models>
		<resources>
			<ecom_ultracart_setup>
				<setup>
					<module>Ecom_UltraCart</module>
					<class>Mage_Core_Model_Resource_Setup</class>
				</setup>
			</ecom_ultracart_setup>
		</resources>
        <events>
            <ultimo_generate_css_save_before>
                <observers>
                    <ultracart_ultimo_css>
                        <type>singleton</type>
                        <class>ultracart/ultimo</class>
                        <method>addCss</method>
                    </ultracart_ultimo_css>
                </observers>
            </ultimo_generate_css_save_before>
        </events>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<ultracart>
											<title>Ultracart</title>
										</ultracart>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<frontend>
		<layout>
			<updates>
				<ultracart>
					<file>ultracart.xml</file>
				</ultracart>
			</updates>
		</layout>
		<routers>
			<ultracart>
				<use>standard</use>
				<args>
					<module>Ecom_UltraCart</module>
					<frontName>ultracart</frontName>
				</args>
			</ultracart>
		</routers>
		<translate>
			<modules>
				<Ecom_UltraCart>
					<files>
						<default>Ecom_UltraCart.csv</default>
					</files>
				</Ecom_UltraCart>
			</modules>
		</translate>
	</frontend>
	<default>
		<ultracart>
			<general>
				<show_grand_total>1</show_grand_total>
				<show_sub_total>1</show_sub_total>
				<show_shipping>1</show_shipping>
				<show_shipping_weight>0</show_shipping_weight>
				<show_total_tax>1</show_total_tax>
				<default_shipping_method>flatrate_flatrate</default_shipping_method>
				<links>a:1:{s:18:"_1394537225171_171";a:2:{s:4:"href";s:21:"/terms-and-conditions";s:5:"label";s:20:"Terms and conditions";}}</links>
			</general>
		</ultracart>
        <ultimo_design>
            <nav>
                <background_ultracart_hasitems>#e56334</background_ultracart_hasitems>
                <textcolor_ultracart_hasitems>#ffffff</textcolor_ultracart_hasitems>
                <background_ultracart>#ffffff</background_ultracart>
                <textcolor_ultracart>#afafaf</textcolor_ultracart>
                <qtyicon_ultracart>1</qtyicon_ultracart>
            </nav>
        </ultimo_design>
	</default>
</config>
