" (This was a gift)", " (Questo era un regalo)"
"%s Item(s)", "%s Prototto(i)"
"(Bundled Product)", "(Articolo Bundle)"
"(received a gift)", "(Ricevuto un regalo)"
"* Required Fields", "* Campo obbligatorio"
"-- Please Select --", "-- Seleziona --"
"-- Select a Condition --", "-- Seleziona una condizione --"
"-- Select a Reason --", "-- Seleziona una motivazione --"
"-- Select a Resolution --", "-- Seleziona disposizione --"
"-- Select an Order --", "-- Seleziona un ordine --"
"-- Select an Order Item --", "-- Seleziona un articolo dall'ordine --"
"--", "--"
"Active", "Attivo"
"Add Comment", "Aggiungi Commento"
"Add Item", "Aggiungi Articolo"
"Add Message", "Aggiungi Messaggi"
"Add New Condition", "Aggiungi Nuova Condizione"
"Add New Field", "Aggiungi Nuovo Campo"
"Add New RMA", "Aggiungi Nuovo RMA"
"Add New Reason", "Aggiungi Nuova Motivazione"
"Add New Resolution", "Aggiugi Nuova Disposizione"
"Add New Status", "Aggiugni Nuovo Stato"
"Additional Information", "Informazioni Aggiuntive"
"All", "Tutti"
"Allow Everything", "Permetti Tutto"
"Allow both ways", "Allow both ways"
"Allow to request RMA after order completion, days", "Permetti RMA fino a giorni dall'ordine completo"
"Another RMA for this product: %s", "E' presente un altro RMA per questo prodotto: %s"
"Are you sure?", "Sei sicuro?"
"Ask customer to confirm shipping", "Richiedi al cliente conferma di spedizione"
"Attach files", "Allega file"
"Automatically", "Automaticamente"
"Back to My Returns", "Ritorna ai Miei Resi"
"Brand", "Marca"
"CSV", "CSV"
"Change status", "Modifica stato"
"Checkbox", "Checkbox"
"City", "Città"
"Code of "Brand" attribute", "Code of "Brand" attribute"
"Code", "Codice"
"Comment Text", "Commento"
"Company", "Compagnia"
"Condition", "Condizione"
"Conditions", "Condizioni"
"Confirm Shipping", "Conferma spedizione"
"Contact Information", "Informazioni di Contatto"
"Counter Increment Step", "Counter Increment Step"
"Counter Length", "Counter Length"
"Create Credit Memo", "Crea Nota di Credito"
"Create New Condition", "Crea Nuova Condizione"
"Create New Field", "Crea Nuovo Campo"
"Create New RMA", "Crea New RMA"
"Create New Reason", "Crea Nuova Motivazione"
"Create New Resolution", "Crea Nuova Disposizione"
"Create New Status", "Crea Nuovo Stato"
"Create RMA for this customer", "Crea RMA per questo cliente"
"Create RMA for this order", "Crea RMA per questo ordine"
"Create RMA", "Crea RMA"
"Created Date", "Data di Creazione"
"Created From Ticket", "Creato da Ticket"
"Credit Memo #", "Nota di Credito #"
"Credit memo Adjustment Fee", "Credit memo Adjustment Fee"
"Custom Fields", "Campo personalizzato"
"Customer Account", "Account Cliente"
"Customer Information", "Informazioni"
"Customer Name", "Nome Cliente"
"Customer has added a comment: <br> <p>%s</p>'", "Il cliente ha aggiunto un commento: <br> <p>%s</p>'"
"Customer", "Cliente"
"Date Requested", "Data Richiesta"
"Date", "Data"
"Date: %s", "Data: %s"
"Default owner for new RMA", "Responsabile Default per nuovi RMA"
"Default status for new RMA", "Default status for new RMA"
"Delete", "Cancella"
"Description", "Descrizione"
"Dictionaries", "Dictionaries"
"Disabled", "Disabilitato"
"Don\'t return to Stock", "Don\'t return to Stock"
"Drop-down list", "Drop-down list"
"Edit Condition '%s'", "Edit Condition '%s'"
"Edit Field '%s'", "Edit Field '%s'"
"Edit Reason '%s'", "Edit Reason '%s'"
"Edit Resolution '%s'", "Edit Resolution '%s'"
"Edit Status '%s'", "Edit Status '%s'"
"Email Address", "Email Address"
"Email Notification Settings", "Email Notification Settings"
"Email Notification for administrator", "Email Notification for administrator"
"Email Notification for customer", "Email Notification for customer"
"Email Sender", "Email Sender"
"Email To Receive Admin Notifications", "Email To Receive Admin Notifications"
"Email or Last Name", "Email or Last Name"
"Email", "Email"
"Enable integration with Help Desk", "Enable integration with Help Desk"
"Enable option "This was a gift"", "Enable option "This was a gift""
"Enabled", "Enabled"
"Enter valid message.", "Enter valid message."
"Enter your contact information", "Enter your contact information"
"Exchange Order #", "Exchange Order #"
"Exchange Order Information", "Exchange Order Information"
"External Link", "External Link"
"First Name", "Nome"
"General Information", "Informazioni Generali"
"General Settings", "Impostazioni"
"Grid", "Gliglia"
"I agree", "Acconsento"
"ID", "ID"
"Internal Note", "Nota Interna"
"Invalid RMA.", "RMA non valido."
"Is Active", "Attivo"
"Is editable for customers", "Is editable for customers"
"Is required for customers", "Is required for customers"
"Is required for staff", "Is required for staff"
"Item Condition", "Condizioni del Prodotto"
"Item to return", "Item to return"
"Item", "Prodotto"
"Items %s to %s of %s total", "Items %s to %s of %s total"
"Items RMA Requested for", "Richiesta RMA per l'articolo(i):"
"Items in this order", "Articoli in questo ordine"
"Items", "Prodotti"
"Last Activity", "Last Activity"
"Last Name", "Last Name"
"Last Replier", "Ultima Risposta"
"List", "Lista"
"Manually", "Manualmente
"Message for RMA history", "Message for RMA history"
"Message to Customer", "Messaggio al Cliente"
"Mirasvit RMA", "Mirasvit RMA *****"
"Multi-line text", "Testo multi-linea"
"My Returns", "I Miei Resi"
"New Condition", "Nuova Condizione"
"New Field", "Nuovo Campo"
"New RMA", "New RMA"
"New Reason", "New Reason"
"New Resolution", "New Resolution"
"New Return for Order #%s", "New Return for Order #%s"
"New Status", "New Status"
"Next", "Next"
"No", "No"
"Notifications", "Notifications"
"Notify Customer by Email", "Notify Customer by Email"
"Number Format", "Number Format"
"Number of returned items", "Number of returned items"
"Number of returns", "Number of returns"
"Options list", "Options list"
"Order #", "Order #"
"Order Information", "Order Information"
"Order Shipping Address", "Order Shipping Address"
"Order", "Order"
"Ordered Qty", "Ordered Qty"
"Original order: #%s", "Original order: #%s"
"Owner", "Responsabile"
"Payment Method", "Payment Method"
"Please, enter an your Order # and Email", "Please, enter an your Order # and Email"
"Please, post not empty message", "Please, post not empty message"
"Please, select RMA items which you would like to return.", "Please, select RMA items which you would like to return."
"Please, select an order", "Seleziona un ordine"
"Policy block", "Policy block"
"Print RMA Packing Slip", "Stampa etichetta RESO RMA"
"Print RMA Shipping Label", "Print RMA Shipping Label"
"Print Shipping Label", "Print Shipping Label"
"Product Name", "Product Name"
"Product SKU", "Product SKU"
"Product", "Product"
"Qty to Return", "Qty to Return"
"Qty", "Qty"
"Quantity To Return", "Quantità Da Rendere"
"Quantity to return", "Quantità da rendere"
"RMA #", "RMA #"
"RMA #%s", "RMA #%s"
"RMA - Notification Email for Admin", "RMA - Email di notifica per Amministratore"
"RMA - Notification Email for Customer", "RMA - Email di notifica per il Cliente"
"RMA - Notification Email for Customer", "RMA - Email di notifica per il Cliente"
"RMA - Notification Email for RMA Owner", "RMA - Email di notifica per il Responsabile RMA"
"RMA History", "Cronologia RMA"
"RMA History", "Cronologia RMA"
"RMA Items", "RMA Items"
"RMA Number", "Numero RMA"
"RMA Owner", "Responsabile RMA"
"RMA Policy", "RMA Policy"
"RMA Report", "RMA Report"
"RMA by Brand", "RMA per Marca"
"RMA by Product", "RMA per Prodotto"
"RMA was successfuly created", "Richiesta RMA creata correttamente"
"RMA", "RMA"
"Reason to Return", "Motivazione del Reso"
"Reason", "Motivazione"
"Reasons", "Motivazioni"
"Refund Online", "Refund Online"
"Refund Shipping Fee", "Refund Shipping Fee"
"Reports", "Reports"
"Request Information", "Stato Richiesta RMA"
"Request New Return", "Richiedi Nuovo Reso"
"Request RMA", "Richiedi RMA"
"Resolution", "Disposizione"
"Resolutions", "Disposizioni"
"Resolve RMA after obtaining status", "Resolve RMA after obtaining status"
"Return Address", "Indirizzo di spedizione ritorno"
"Return to Stock", "Rimetti in Stock"
"SKU", "SKU"
"Save And Continue Edit", "Salva e Continua Modifiche"
"Save", "Salva"
"Select Order", "Seleziona Ordine"
"Send Exchange Order Confirmation", "Send Exchange Order Confirmation"
"Set Ascending Direction", "Set Ascending Direction"
"Set Descending Direction", "Set Descending Direction"
"Settings", "Impostazioni"
"Shipping Cost", "Costi di Spedizione"
"Shipping Method", "Metodo di Spedizione"
"Shipping confirmation text", "Testo conferma Spedizione"
"Shipping is confirmed. Thank you!", "Spedizione Cofermata. Grazie!"
"Show RMA section in Customer Account", "Mostra scheda RMA nell'account Utente"
"Show all order items", "Show all order items"
"Show policy", "Show policy"
"Show", "Mostra"
"Sort Order", "Ordinameto"
"Sort by", "Ordina per"
"Sort order", "Ordinamneto"
"Start Counter From", "Inizia conteggio da"
"Status for new RMA", "Stato per nuova richiesta RMA"
"Status", "Stato"
"Statuses", "Statuses"
"Stock Qty", "Stock Qty"
"Street Address", "Street Address"
"Submit Request", "Invia Richiesta"
"Submit", "Invia"
"Telephone", "Telefono"
"Template of Notification Email for Admin", "Template of Notification Email for Admin"
"Template of Notification Email for Customer", "Template of Notification Email for Customer"
"Template of Notification Email for Customer", "Template of Notification Email for Customer"
"Template of Notification Email for RMA Owner", "Template of Notification Email for RMA Owner"
"Text", "Testo"
"There are no Returns", "Non ci sono Resi"
"There are no items for this product that can be returned.", "Non ci sono articoli per che posso essere resi"
"This was a gift, please do not notify purchaser", "This was a gift, please do not notify purchaser"
"Ticket was converted", "Ticket was converted"
"Title", "Titolo"
"Total Products Number", "Total Products Number"
"Total RMAs Number", "Total RMAs Number"
"Tracking Code", "Tracking Code"
"Type", "Tipo"
"Unassigned", "Unassigned"
"Update", "Aggiorna"
"Upload Return Label", "Upload Return Label"
"View Return", "Visualizza Reso"
"View as", "Vedi come"
"View as:", "Vedi come:"
"Visible for customers in statuses", "Visible for customers in statuses"
"Visible on Frontend", "Visibile su Frontend"
"XML", "XML"
"Yes", "Si"
"You have no complete", "You have no complete"
"Your comment was successfuly added", "Your comment was successfuly added"
"Zip/Postcode", "Zip/Postcode"
"leave blank to not send", "leave blank to not send"
"per page", "per page"
"Ticket was converted to the RMA #%s", "Ticket was converted to the RMA #%s"
