<!--@subject Hjälp med KlarnaCheckout @-->
<!--@vars
{"var help_email":"Email address",
"var help_phone":"Phone number",
"var help_message":"Message"}
@-->

<table>
    <thead>
        <tr>
            <th colspan="2">
                Nedan person har efterfrågat hjälp med KlarnaCheckout:
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <b>Epost:</b>
            </td>
            <td>
                {{var help_email}}<br>
            </td>
        </tr>
        <tr>
            <td>
                <b>Tele:</b>
            </td>
            <td>
                {{var help_phone}}<br>
            </td>
        </tr>
        <tr>
            <td>
                <b>Meddelande:</b>
            </td>
            <td>
                {{var help_message}}<br>
            </td>
        </tr>
        <tr>
            <td>
                <b>Tid:</b>
            </td>
            <td>
                {{var time}}<br>
            </td>
        </tr>
        <tr>
            <td>
                <b>IP:</b>
            </td>
            <td>
                {{var ip}}<br>
            </td>
        </tr>
    </tbody>
</table>