<!--@subject Titta på {{var customer.name}}s önskelista hos {{config path='general/store_information/name'}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var message":"Wishlist Message",
"var items":"Wishlist Items"}
@-->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<body style="background:#FFFFFF; font-family:Helvetica, Verdana, Arial, sans-serif; font-size:12px; margin:0; padding:0; color:#444;">
<div style="background:#FFFFFF; font-family:Helvetica, Verdana, Arial, sans-serif; font-size:12px; margin:0; padding:0; color:#444;">
<table align="center" cellspacing="0" cellpadding="0" border="0" width="600" style="background:#ffffff; margin-top:20px; margin-bottom:20px;">
    <tr>
        <td align="center" valign="top">
        
        <!-- [ header starts here] -->
        
            <table cellspacing="0" cellpadding="0" border="0" width="600" style="border-bottom:1px solid #dddddd;">
                <tr>
                    <td valign="top" align="left">
                        <a href="{{store url=''}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:20px;" border="0"/></a>
                    </td>
                </tr>
            </table>
            
        <!-- [ middle starts here] -->
        
            <table cellspacing="0" cellpadding="0" border="0" width="600">
                <tr>
                    <td valign="top" align="left">
                        <p style="font-size:12px; line-height:20px; margin:0 0 10px 0;">
                            Hej,<br />Titta på min önskelista från {{config path='general/store_information/name'}}.
                        </p>
                        <p style="font-size:12px; line-height:20px; margin:0 0 20px 0;">
                            {{var message}}
                        </p>
                        <p style="font-size:12px; line-height:20px; margin:0 0 20px 0;">
                            {{var items}}
                        </p>
                        {{depend salable}}<p style="font-size:12px; line-height:20px; margin:0 0 10px 0;"><strong><a href="{{var addAllLink}}" style="color:#1865a2;">Lägg alla produkterna i varukorgen</a></strong> |{{/depend}} <strong><a href="{{var viewOnSiteLink}}" style="color:#1865a2;">Visa alla produkter på önskelistan</a></strong></p>
                        <br />
                        <br />
                        <p style="font-size:12px; line-height:20px; margin:0 0 10px 0;">
                            {{config path='sales_email/email_templates/message3'}}
                        </p>
                        <p style="font-size:12px; line-height:20px; margin:0 0 20px 0;">
                            <strong>{{config path='general/store_information/name'}}</strong>
                        </p>
                    </td>
                </tr>
            </table>
            
        <!-- [ footer starts here] -->    
            
            <table cellspacing="0" cellpadding="0" border="0" width="600" style="border-top:1px solid #dddddd;">
                <tr>
                    <td valign="top" align="left" width="33%">
                        <p style="font-size:12px; line-height:20px; margin:20px 0 0 0;">{{config path='general/store_information/name'}}</p>
                        <p style="font-size:12px; line-height:20px; margin:0;">{{config path='general/store_information/address'}}</p>
                        <p style="font-size:12px; line-height:20px; margin:0;">{{config path='general/store_information/zip_city'}}</p>
                        <p style="font-size:12px; line-height:20px; margin:0 0 10px 0;">{{block type="design/email_country"}}</p>
                    </td>
                    <td valign="top" align="left" width="33%">
                        <p style="font-size:12px; line-height:20px; margin:20px 0 0 0;">{{config path='general/store_information/phone'}}</p>
                        <p style="font-size:12px; line-height:20px; margin:0;">{{config path='general/store_information/hours'}}</p>
                        <p style="font-size:12px; line-height:20px; margin:0;"><a href="mailto:{{config path='general/trans_email/ident_general/email'}}" style="color:#1865a2;">{{config path='general/trans_email/ident_general/email'}}</a></p>
                        <p style="font-size:12px; line-height:20px; margin:0 0 10px 0;"><a href="{{store url=''}}" style="color:#1865a2;">{{config path='basicsetup/contact_details/url'}}</a></p>
                    </td>
                    <td valign="top" align="left" width="33%">
                        <p style="font-size:12px; line-height:20px; margin:20px 0 0 0;">{{config path='sales_email/email_templates/email_footer1'}}</p>
                        <p style="font-size:12px; line-height:20px; margin:0;">{{config path='sales_email/email_templates/email_footer2'}}</p>
                        <p style="font-size:12px; line-height:20px; margin:0;">{{config path='sales_email/email_templates/email_footer3'}}</p>
                        <p style="font-size:12px; line-height:20px; margin:0 0 10px 0;">{{config path='sales_email/email_templates/email_footer4'}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>