<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Ecom_KlarnaCheckout>
			<version>1.4.24</version>
		</Ecom_KlarnaCheckout>
	</modules>	
	<global>
		<blocks>
			<klarnacheckout>
				<class>Ecom_KlarnaCheckout_Block</class>
			</klarnacheckout>
			<checkout>
				<rewrite>
					<links>Ecom_KlarnaCheckout_Block_Checkout_Links</links>
					<onepage_link>Ecom_KlarnaCheckout_Block_Checkout_Onepage_Link</onepage_link>
					<cart_sidebar>Ecom_KlarnaCheckout_Block_Checkout_Cart_Sidebar</cart_sidebar>
					<cart>Ecom_KlarnaCheckout_Block_Checkout_Cart</cart>
					<onepage_payment_methods>Ecom_KlarnaCheckout_Block_Checkout_Onepage_Payment_Methods</onepage_payment_methods>
				</rewrite>
			</checkout>
            <googleanalytics>
                <rewrite>
                    <ga>Ecom_KlarnaCheckout_Block_Analytics_Ga</ga>
                </rewrite>
            </googleanalytics>
		</blocks>
		<helpers>
			<klarnacheckout>
				<class>Ecom_KlarnaCheckout_Helper</class>
			</klarnacheckout>
		</helpers>
		<models>			
			<klarnacheckout>
				<class>Ecom_KlarnaCheckout_Model</class>
				<resourceModel>klarnacheckout_resource</resourceModel> <!-- // modern -->
				<!-- <resourceModel>klarnacheckout_mysql4</resourceModel> // legacy -->
			</klarnacheckout>
			
			<!-- modern: -->
			<klarnacheckout_resource>
				<class>Ecom_KlarnaCheckout_Model_Resource</class>
				<entities>
					<quotemap>
						<table>ecom_klarnacheckout_quotemap</table>
					</quotemap>
					<validationlog>
						<table>ecom_klarnacheckout_validationlog</table>
					</validationlog>
					<lock>
						<table>ecom_klarnacheckout_lock</table>
					</lock>
				</entities>
			</klarnacheckout_resource>
			
			<!-- legacy: -->
			<klarnacheckout_mysql4>
				<class>Ecom_KlarnaCheckout_Model_Mysql4</class>
				<entities>
					<quotemap>
						<table>ecom_klarnacheckout_quotemap</table>
					</quotemap>
					<validationlog>
						<table>ecom_klarnacheckout_validationlog</table>
					</validationlog>
					<lock>
						<table>ecom_klarnacheckout_lock</table>
					</lock>
				</entities>
			</klarnacheckout_mysql4>
		</models>		
		<resources>
			<ecom_klarnacheckout_setup>
				<setup>
					<module>Ecom_KlarnaCheckout</module>
					<class>Mage_Core_Model_Resource_Setup</class>					
				</setup>
			</ecom_klarnacheckout_setup>
		</resources>
        <template>
            <email>
                <klarnacheckout_helprequest translate="label" module="klarnacheckout">
                    <label>Klarnacheckout Helprequest</label>
                    <file>klarnacheckout/helprequest.html</file>
                    <type>html</type>
                </klarnacheckout_helprequest>
            </email>
        </template>
	</global>
	<frontend>		
		<translate>
			<modules>
				<Ecom_KlarnaCheckout>
					<files>
						<default>Ecom_KlarnaCheckout.csv</default>
					</files>
				</Ecom_KlarnaCheckout>
			</modules>
		</translate>
		<layout>
			<updates>
				<customersync>
					<file>klarnacheckout.xml</file>
				</customersync>
			</updates>
		</layout>
		<routers>
			<klarnacheckout>
				<use>standard</use>
				<args>
					<module>Ecom_KlarnaCheckout</module>
					<frontName>klarnacheckout</frontName>
				</args>
			</klarnacheckout>
		</routers>
		<events>
			<checkout_cart_save_after>
				<observers>
					<klarnacheckout>
						<class>klarnacheckout/observer</class>
						<method>updateKlarnaOrder</method>
					</klarnacheckout>
				</observers>
			</checkout_cart_save_after>
			<klarnacheckout_controller_success_action>
				<observers>
					<kco_googleanalytics_order_success>
						<class>googleanalytics/observer</class>
						<method>setGoogleAnalyticsOnOrderSuccessPageView</method>
					</kco_googleanalytics_order_success>
				</observers>
			</klarnacheckout_controller_success_action>
		</events>
	</frontend>
	<default>
		<klarnacheckout>
			<account>
				<merchant_eid>1255</merchant_eid>
				<shared_secret>S2BtrrzKS4XvAui</shared_secret>
				<server>BETA</server>
			</account>
			<secure>
				<validation>0</validation>
				<cart_observer>1</cart_observer>
			</secure>
			<checkout>
				<enabled>1</enabled>
				<rewrite_links>1</rewrite_links>
                <rewrite_sweettooth_links>0</rewrite_sweettooth_links>
                <force_authenticated_checkout>0</force_authenticated_checkout>
				<terms_uri>kopvillkor</terms_uri>
				<disable_autofocus>1</disable_autofocus>
				<show_shipping_method>1</show_shipping_method>
				<shipping_method_dropdown>1</shipping_method_dropdown>
				<show_postcode>0</show_postcode>
				<use_twostep>0</use_twostep>
                <couponcode_below_checkout>0</couponcode_below_checkout>
                <show_checkout_heading>0</show_checkout_heading>
			</checkout>
            <callback>
                <capture>1</capture>
                <refund>1</refund>
            </callback>
		</klarnacheckout>
		<payment>
			<klarnapayment>
				<active>1</active>
				<sort_order>5</sort_order>
				<model>klarnacheckout/payment_klarnapayment</model>
				<order_status>processing</order_status>
				<title>Klarna Checkout</title>
				<payment_action>authorize</payment_action>
			</klarnapayment>
		</payment>
		<aromicon_gua>
			<ecommerce>
				<checkout_url>/klarnacheckout</checkout_url>
				<success_url>/klarnacheckout/index/success</success_url>
			</ecommerce>
		</aromicon_gua>
	</default>
</config>
