<?xml version="1.0" encoding="UTF-8"?>
<config>
	<sections>
		<payment>
			<groups>
				<vaimo_klarna_checkout>
					<show_in_default>0</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
				</vaimo_klarna_checkout>
			</groups>
		</payment>
	</sections>
</config>