<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ecom_Utils>
            <version>1.1.13</version>
        </Ecom_Utils>
    </modules>

    <global>
        <models>
            <utils>
                <class>Ecom_Utils_Model</class>
            </utils>
            <newsletter>
                <rewrite>
                    <subscriber>Ecom_Utils_Model_Newsletter_Subscriber</subscriber>
                </rewrite>
            </newsletter>
            <customer>
                <rewrite>
                    <customer>Ecom_Utils_Model_Customer_Customer</customer>
                </rewrite>
            </customer>
            <directory>
                <rewrite>
                    <currency>Ecom_Utils_Model_Currency</currency>
                </rewrite>
            </directory>
            <core>
                <rewrite>
                    <locale>Ecom_Utils_Model_Locale</locale>
                </rewrite>
            </core>
            <catalog>
                <rewrite>
                    <config>Ecom_Utils_Model_Catalog_Config</config>
                </rewrite>
            </catalog>
            <sitemap>
                <rewrite>
                    <sitemap>Ecom_Utils_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <helpers>
            <utils>
                <class>Ecom_Utils_Helper</class>
            </utils>
            <catalog>
                <rewrite>
                    <output>Ecom_Utils_Helper_Catalog_Output</output>
                    <product_compare>Ecom_Utils_Helper_Catalog_Product_Compare</product_compare>
                </rewrite>
            </catalog>
        </helpers>
        <blocks>
            <utils>
                <class>Ecom_Utils_Block</class>
            </utils>
            <customer>
                <rewrite>
                    <form_register>Ecom_Utils_Block_Customer_Form_Register</form_register>
                    <account_navigation>Ecom_Utils_Block_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
            <catalog>
                <rewrite>
                    <product_view_attributes>Ecom_Utils_Block_Attributefix</product_view_attributes>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <cart_totals>Ecom_Utils_Block_Checkout_Cart_Totals</cart_totals>
                    <onepage_shipping_method_available>Ecom_Utils_Block_Checkout_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
                </rewrite>
            </checkout>
            <tax>
                <rewrite>
                    <checkout_discount>Ecom_Utils_Block_Tax_Checkout_Discount</checkout_discount>
                </rewrite>
            </tax>
            <sales>
                <rewrite>
                    <order_totals>Ecom_Utils_Block_Sales_Order_Totals</order_totals>
                </rewrite>
            </sales>
            <adminhtml>
                <rewrite>
                    <catalog_helper_form_wysiwyg_content>Ecom_Utils_Block_Adminhtml_Catalog_Helper_Form_Wysiwyg_Content</catalog_helper_form_wysiwyg_content>
                    <catalog_product_edit_tab_categories>Ecom_Utils_Block_Adminhtml_Catalog_Product_Edit_Tab_Categories</catalog_product_edit_tab_categories>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <utils>
                    <file>utils.xml</file>
                </utils>
            </updates>
        </layout>
        <routers>
            <utils>
                <use>standard</use>
                <args>
                    <module>Ecom_Utils</module>
                    <frontName>utils</frontName>
                </args>
            </utils>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <utils>
                    <file>ecompartner.xml</file>
                </utils>
            </updates>
        </layout>
        <cms>
            <browser>
                <extensions>
                    <allowed>
                        <pdf>1</pdf>
                    </allowed>
                </extensions>
            </browser>
        </cms>
        <events>
            <!-- This event is fired when the "Flush All Cache" button is clicked on the cache management screen -->
            <!-- So the button TRULY clears the cache! -->
            <adminhtml_cache_flush_all>
                <observers>
                    <utils_flush_lesti_fpc_on_flushall_button_click>
                        <class>utils/observer</class>
                        <type>singleton</type>
                        <method>flushLestiFpcOnFlushAll</method>
                    </utils_flush_lesti_fpc_on_flushall_button_click>
                </observers>
            </adminhtml_cache_flush_all>
        </events>
    </adminhtml>
    <default>
        <sales_email>
            <email_templates>
                <message1>Thank you for your order with {{config path='general/store_information/name'}}</message1>
                <message3>Best regards</message3>
            </email_templates>
        </sales_email>
        <newsletter>
            <subscription>
                <send_success_email>0</send_success_email>
            </subscription>
        </newsletter>
        <customer>
            <create_account>
                <show_address_fields>0</show_address_fields>
                <send_welcome_email>1</send_welcome_email>
            </create_account>
            <menu>
                <hide_recurring_profiles>1</hide_recurring_profiles>
                <hide_billing_agreements>1</hide_billing_agreements>
                <hide_downloadable_products>1</hide_downloadable_products>
                <hide_reviews>1</hide_reviews>
                <hide_oauth_customer_tokens>1</hide_oauth_customer_tokens>
                <hide_newsletter>1</hide_newsletter>
                <hide_tags>1</hide_tags>
            </menu>
        </customer>
        <catalog>
            <frontend>
                <allow_widgets>1</allow_widgets>
                <show_position_sort>0</show_position_sort>
            </frontend>
        </catalog>
        <currency>
            <options>
                <frontend_precision>2</frontend_precision>
                <frontend_round_precision>2</frontend_round_precision>
                <remove_trailing_zeros>1</remove_trailing_zeros>
            </options>
        </currency>
    </default>
</config>
