<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Evalent_StoreSetup>
            <version>0.0.14</version>
        </Evalent_StoreSetup>
    </modules>
    <!--<admin>
        <routers>
            <storesetup>
                <use>admin</use>
                <args>
                    <module>Evalent_StoreSetup</module>
                    <frontName>storesetup</frontName>
                </args>
            </storesetup>
        </routers>
    </admin>-->
    <frontend>
        <routers>
          <storesetup>
            <use>standard</use>
            <args>
              <module>Evalent_StoreSetup</module>
              <frontName>storesetup</frontName>
            </args>
          </storesetup>
        </routers>
    </frontend>
    <adminhtml>
        <events>
            <admin_session_user_login_success>
                <observers>
                    <storesetup>
                        <class>storesetup/moduleinstaller</class>
                        <method>run</method>
                    </storesetup>
                </observers>
            </admin_session_user_login_success>
        </events>
    </adminhtml>
    <global>
        <helpers>
            <storesetup>
                <class>Evalent_StoreSetup_Helper</class>
            </storesetup>
        </helpers>
        <models>
            <storesetup>
                <class>Evalent_StoreSetup_Model</class>
            </storesetup>
        </models>
        <!--<events>
            <admin_system_config_changed_section_storesetup>
                <observers>
                    <obsconfig>
                        <type>singleton</type>
                        <class>storesetup/observer</class>
                        <method>intercept</method>
                    </obsconfig>
                </observers>
            </admin_system_config_changed_section_storesetup>
        </events>-->
        <resources>
            <evalent_storesetup_setup>
                <setup>
                    <module>Evalent_StoreSetup</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </evalent_storesetup_setup>
        </resources>
    </global>
    <default>
        <!-- Module Config
        <storesetup>
            <storesetup_settings>
                <active>1</active>
                <initial_configuration_tax>0</initial_configuration_tax>
            </storesetup_settings>
        </storesetup> -->
        <!--Configuration-->
        <store_setup>
            <moduleinstallers>
                <datastore>{}</datastore>
            </moduleinstallers>
        </store_setup>
        <general>
            <country>
                <!-- Default country -->
                <default>SE</default>
                <allow>AT,BE,BG,CY,CZ,DK,EE,FI,FR,DE,GR,HU,IE,IT,LV,LT,LU,MT,NL,PL,PT,RO,SK,SI,ES,SE,GB</allow>
            </country>
            <locale>
                <!-- Time Zone -->
                <timezone>Europe/Stockholm</timezone>
                <!-- First day of week -->
                <firstday>1</firstday>
            </locale>
        </general>
        <!-- Store information -->
        <cms>
            <wysiwyg>
                <!-- CMS Editor -->
                <enabled>hidden</enabled>
            </wysiwyg>
        </cms>
        <catalog>
            <frontend>
                <!-- Flat catalog -->
                <flat_catalog_category>1</flat_catalog_category>
                <flat_catalog_product>1</flat_catalog_product>
            </frontend>
            <layered_navigation>
                <display_product_count>0</display_product_count>
            </layered_navigation>
            <seo>
                <!-- Canonical -->
                <category_canonical_tag>1</category_canonical_tag>
                <product_canonical_tag>1</product_canonical_tag>
                <product_url_suffix></product_url_suffix>
                <category_url_suffix></category_url_suffix>
                <product_use_categories>0</product_use_categories>
                <title_separator>|</title_separator>
            </seo>
        </catalog>

        <wishlist>
            <general>
                <!-- Wishlist -->
                <active>0</active>
            </general>
        </wishlist>

        <shipping>
            <origin>
                <!-- Shipping settings, Origin -->
                <country_id>SE</country_id>
                <postcode></postcode>
            </origin>
            <option>
                <!-- Turn off delivery to multiple addresses -->
                <checkout_multiple>0</checkout_multiple>
            </option>
        </shipping>
        <system>
            <log>
                <!-- Activate log-cleaning -->
                <enabled>1</enabled>
                <clean_after_day>7</clean_after_day>
            </log>
        </system>
        <dev>
            <log>
                <!-- Activate log -->
                <active>1</active>
            </log>
            <template>
                <allow_symlink>1</allow_symlink>
            </template>
        </dev>
        <!-- Show price in admin incl. Tax -->
        <tax>
            <classes>
                <shipping_tax_class>2</shipping_tax_class>
            </classes>
            <defaults>
                <country>SE</country>
            </defaults>
            <calculation>
                <algorithm>TOTAL_BASE_CALCULATION</algorithm>
                <based_on>shipping</based_on>
                <price_includes_tax>0</price_includes_tax>
                <shipping_includes_tax>0</shipping_includes_tax>
                <apply_after_discount>1</apply_after_discount>
                <discount_tax>0</discount_tax>
                <apply_tax_on>0</apply_tax_on>
                <cross_border_trade_enabled>0</cross_border_trade_enabled>
            </calculation>
            <display>
                <type>2</type>
                <shipping>2</shipping>
            </display>
            <cart_display>
                <price>2</price>
                <subtotal>2</subtotal>
                <shipping>2</shipping>
            </cart_display>
            <sales_display>
                <price>2</price>
                <subtotal>2</subtotal>
                <shipping>2</shipping>
            </sales_display>
        </tax>
        <!-- Default Currency  -->
        <currency>
            <options>
                <base>SEK</base>
                <default>SEK</default>
                <allow>SEK</allow>
            </options>
        </currency>
        <carriers>
            <flatrate>
                <active>0</active>
            </flatrate>
            <matrixrate>
                <active>1</active>
                <free_method_text>Gratis frakt</free_method_text>
                <title></title>
            </matrixrate>
        </carriers>
        <ultracart>
            <general>
                <show_shipping_weight>1</show_shipping_weight>
                <show_total_tax>1</show_total_tax>
                <default_shipping_method>matrixrate_matrixrate</default_shipping_method>
                <links>a:1:{s:18:"_1394537225171_171";a:2:{s:4:"href";s:11:"/kopvillkor";s:5:"label";s:17:"Våra köpvillkor";}}</links>
            </general>
        </ultracart>
        <payment>
            <Dibspw>
                <active>1</active>
                <title>Kortbetalning</title>
                <DIBSPW_mid>4256186</DIBSPW_mid>
                <DIBSPW_HMAC>63312e73387b47555f4d5e483b3b684c6f2a333764435e5079556a494a757d294550473f3b2a2d67506744755d2c6739305a597e4c6e552b617464647b4e7e32</DIBSPW_HMAC>
                <DIBSPW_testmode>1</DIBSPW_testmode>
            </Dibspw>
            <vaimo_klarna_invoice>
                <active>1</active>
                <merchant_id>2207</merchant_id>
                <shared_secret>DO9fafsDSdq84Ms</shared_secret>
                <title>Klarna Faktura</title>
                <host>BETA</host>
            </vaimo_klarna_invoice>
            <vaimo_klarna_account>
                <active>1</active>
                <merchant_id>2207</merchant_id>
                <shared_secret>DO9fafsDSdq84Ms</shared_secret>
                <title>Klarna Konto</title>
                <host>BETA</host>
            </vaimo_klarna_account>
            <checkmo>
                <title>Testbetalning</title>
            </checkmo>
            <ccsave>
                <active>0</active>
            </ccsave>
            <payex2>
                <active>1</active>
                <title>Payex Payment window</title>
                <accountnumber>60089817</accountnumber>
                <encryptionkey>s7zyTVD85Eh42f4k34WA</encryptionkey>
                <responsive>1</responsive>
            </payex2>
            <factoring>
                <active>1</active>
                <title>Payex Invoice</title>
                <accountnumber>60089817</accountnumber>
                <encryptionkey>s7zyTVD85Eh42f4k34WA</encryptionkey>
            </factoring>
            <bankdebit>
                <active>1</active>
                <accountnumber>60089817</accountnumber>
                <encryptionkey>s7zyTVD85Eh42f4k34WA</encryptionkey>
                <responsive>1</responsive>
                <order_status>processing</order_status>
            </bankdebit>
            <billmateinvoice>
                <title><![CDATA[Billmate Invoice]]></title>
                <active>1</active>
                <test_mode>1</test_mode>
            </billmateinvoice>
        </payment>
        <billmate>
            <settings>
                <getaddress>1</getaddress>
                <activation>1</activation>
            </settings>
            <credentials>
                <eid>14083</eid>
                <secret>128712823912</secret>
            </credentials>
        </billmate>
        <klarnacheckout>
            <checkout>
                <default_shipping_method>matrixrate_matrixrate</default_shipping_method>
            </checkout>
        </klarnacheckout>


        <customer>
            <address_templates>
                <!-- Text  -->
                <text>{{depend company}}{{var company}}{{/depend}}
{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{var lastname}}
{{if street1}}{{var street1}}{{/if}}
{{depend street2}}{{var street2}}{{/depend}}
{{depend street3}}{{var street3}}{{/depend}}
{{if postcode}}{{var postcode}}{{/if}} {{if city}}{{var city}}{{/if}}
{{var country}}
{{depend telephone}}T: {{var telephone}}{{/depend}}
{{depend vat_id}}VAT: {{var vat_id}}{{/depend}}</text>
                <!-- Text oneline  -->
                <oneline>{{depend company}}{{var company}}, {{/depend}}{{var firstname}} {{var lastname}}, {{var street}}, {{var postcode}} {{var city}}, {{var country}}</oneline>
                <!-- HTML  -->
                <html><![CDATA[{{depend company}}{{var company}}<br> {{/depend}}
{{var firstname}} {{var lastname}}<br>
{{if street1}}{{var street1}}<br> {{/if}}
{{depend street2}}{{var street2}}<br> {{/depend}}
{{depend street3}}{{var street3}}<br> {{/depend}}
{{depend street4}}{{var street4}}<br> {{/depend}}
{{if postcode}}{{var postcode}}{{/if}} {{if city}}{{var city}}{{/if}}<br>
{{var country}}<br>
{{depend telephone}}T: {{var telephone}}<br>{{/depend}}
{{depend vat_id}} VAT: {{var vat_id}}<br>{{/depend}}]]></html>
                <!-- PDF  -->
                <pdf>{{depend company}}{{var company}}|{{/depend}}
{{var firstname}} {{var lastname}}|
{{if street1}}{{var street1}}|{{/if}}
{{depend street2}}{{var street2}}|{{/depend}}
{{depend street3}}{{var street3}}|{{/depend}}
{{depend street4}}{{var street4}}|{{/depend}}
{{if postcode}}{{var postcode}}{{/if}} {{if city}}{{var city}}|{{/if}}
{{var country}}|
{{depend telephone}}T: {{var telephone}}|{{/depend}}
{{depend vat_id}}VAT: {{var vat_id}}|{{/depend}}</pdf>
                <!-- Javascript  -->
                <js_template>#{company}#{firstname} #{lastname}#{street0}#{street1}#{street2}#{postcode} #{city}#{country_id}T: #{telephone}VAT: #{vat_id}</js_template>
            </address_templates>
        </customer>
        <catalog>
            <recently_products>
                <compared_count>0</compared_count>
            </recently_products>
        </catalog>
    </default>

    <!-- ULTIMO THEME CONFIG -->
    <default>
        <ultimo>
            <header>
                <mode>1</mode>
                <sticky>1</sticky>
                <search_position>20</search_position>
                <toplinks_break_position>31</toplinks_break_position>
                <signup>0</signup>
                <compare>0</compare>
                <compare_label>0</compare_label>
                <cart_label>1</cart_label>
            </header>
            <category>
                <aspect_ratio>0</aspect_ratio>
                <image_width>295</image_width>
                <alt_image>1</alt_image>
                <alt_image_column>position</alt_image_column>
                <alt_image_column_value>2</alt_image_column_value>
            </category>
            <category_grid>
                <column_count>3</column_count>
                <column_count_768>3</column_count_768>
                <column_count_640>2</column_count_640>
                <column_count_480>2</column_count_480>
                <equal_height>1</equal_height>
                <hover_effect>1</hover_effect>
                <disable_hover_effect>320</disable_hover_effect>
                <hide_addto_links>480</hide_addto_links>
                <centered>1</centered>
                <elements_size/>
                <display_name>2</display_name>
                <display_name_single_line>0</display_name_single_line>
                <display_price>2</display_price>
                <display_rating>0</display_rating>
                <display_addtocart>1</display_addtocart>
                <display_addtolinks>0</display_addtolinks>
                <addtolinks_simple>1</addtolinks_simple>
            </category_grid>
            <category_list>
                <hover_effect>1</hover_effect>
                <addtolinks_simple>0</addtolinks_simple>
            </category_list>
            <product_page>
                <image_column>5</image_column>
                <primary_column>4</primary_column>
                <secondary_column>3</secondary_column>
                <replace_related>1</replace_related>
                <related_template>catalog/product/list/related_multi.phtml</related_template>
                <related_position>20</related_position>
                <related_count>2</related_count>
                <related_timeout>6000</related_timeout>
                <replace_upsell>1</replace_upsell>
                <upsell_timeout/>
                <sku>0</sku>
            </product_page>
            <product_labels>
                <new>1</new>
                <sale>0</sale>
            </product_labels>
            <footer>
                <links_column_auto_width>1</links_column_auto_width>
            </footer>
            <product_slider>
                <timeout/>
                <speed>200</speed>
                <auto_speed>500</auto_speed>
                <pause>1</pause>
                <loop>1</loop>
                <lazy>1</lazy>
            </product_slider>
            <rsnippets>
                <enable_product>0</enable_product>
                <price_incl_tax>1</price_incl_tax>
            </rsnippets>
            <magento_blocks>
                <top_links>0</top_links>
                <footer_links>0</footer_links>
                <footer_newsletter>1</footer_newsletter>
                <store_switcher>0</store_switcher>
                <related_products_checkbox>1</related_products_checkbox>
            </magento_blocks>
            <sidebar_blocks_home>
                <compare>0</compare>
                <compared>0</compared>
                <viewed>0</viewed>
                <wishlist>0</wishlist>
                <poll>0</poll>
                <tags>0</tags>
                <paypal>0</paypal>
                <block_left_top>0</block_left_top>
                <block_left_bottom>0</block_left_bottom>
                <block_right_top>0</block_right_top>
                <block_right_bottom>0</block_right_bottom>
            </sidebar_blocks_home>
            <install>
                <overwrite_blocks>1</overwrite_blocks>
                <overwrite_pages>1</overwrite_pages>
            </install>
            <customization>
                <custom_css>0</custom_css>
            </customization>
        </ultimo>
        <ultimo_design>
            <colors>
                <color>#333333</color>
                <link_color>#777777</link_color>
                <link_hover_color>#e66436</link_hover_color>
                <button_bg_color>#e5e5e5</button_bg_color>
                <button_color>#333333</button_color>
                <button_hover_bg_color>#e66436</button_hover_bg_color>
                <button_hover_color>#ffffff</button_hover_color>
                <button_active_bg_color>#333333</button_active_bg_color>
                <button_active_color>#ffffff</button_active_color>
                <tool_icon_bg_color>#f5f5f5</tool_icon_bg_color>
                <tool_icon_color>#333333</tool_icon_color>
                <tool_icon_hover_bg_color>#e66436</tool_icon_hover_bg_color>
                <tool_icon_hover_color>#ffffff</tool_icon_hover_color>
                <tool_icon_active_bg_color>#e5e5e5</tool_icon_active_bg_color>
                <tool_icon_active_color>#333333</tool_icon_active_color>
                <icon_bg_color>#e66436</icon_bg_color>
                <icon_color>#ffffff</icon_color>
                <icon_hover_bg_color>#666666</icon_hover_bg_color>
                <icon_hover_color>#ffffff</icon_hover_color>
                <social_icon_bg_color>#bbbbbb</social_icon_bg_color>
                <social_icon_color>#ffffff</social_icon_color>
                <social_icon_hover_bg_color>#e66436</social_icon_hover_bg_color>
                <social_icon_hover_color>#ffffff</social_icon_hover_color>
                <important_link_hover_color>#e66436</important_link_hover_color>
                <important_link_hover_bg_color/>
                <label_new_bg_color>#3ec2df</label_new_bg_color>
                <label_new_color>#ffffff</label_new_color>
                <label_sale_bg_color>#f12b63</label_sale_bg_color>
                <label_sale_color>#ffffff</label_sale_color>
                <price_color>#e66436</price_color>
                <additional_bg_color>#f5f5f5</additional_bg_color>
            </colors>
            <font>
                <font_size>12px</font_size>
                <primary_font_family_group>google</primary_font_family_group>
                <primary_font_family_custom>Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif</primary_font_family_custom>
                <primary_font_family>Source Sans Pro</primary_font_family>
                <primary_char_subset>latin</primary_char_subset>
                <primary_font_weight>400</primary_font_weight>
            </font>
            <effects>
                <shadow>0</shadow>
                <shadow_nav>inner-container</shadow_nav>
                <structural_elements_transition>0</structural_elements_transition>
            </effects>
            <page>
                <viewport_bg_color>#f5f5f5</viewport_bg_color>
                <bg_color>#ffffff</bg_color>
                <bg_image/>
                <bg_repeat>repeat</bg_repeat>
                <bg_attachment>scroll</bg_attachment>
                <bg_positionx>center</bg_positionx>
                <bg_positiony>top</bg_positiony>
                <tex>0</tex>
                <content_padding_side>12</content_padding_side>
            </page>
            <header>
                <top_border_color/>
                <color/>
                <link_color/>
                <link_hover_color/>
                <bg_color/>
                <bg_image/>
                <bg_repeat>no-repeat</bg_repeat>
                <bg_attachment>scroll</bg_attachment>
                <bg_positionx>center</bg_positionx>
                <bg_positiony>top</bg_positiony>
                <tex>0</tex>
                <tex2>0</tex2>
                <inner_bg_color/>
                <padding_top/>
                <padding_bottom/>
                <search_bg_color>#ffffff</search_bg_color>
                <search_hover_bg_color>#ffffff</search_hover_bg_color>
                <search_color>#bbbbbb</search_color>
                <search_hover_color>#333333</search_hover_color>
                <search_border_color>#dddddd</search_border_color>
                <search_border_hover_color>#eeeeee</search_border_hover_color>
                <dropdown_bg_color>#ffffff</dropdown_bg_color>
                <dropdown_color>#333333</dropdown_color>
                <dropdown_link_color>#333333</dropdown_link_color>
                <dropdown_link_hover_color>#aaaaaa</dropdown_link_hover_color>
                <mh_item_bg_color>#fafafa</mh_item_bg_color>
                <mh_item_color>#333333</mh_item_color>
                <mh_item_active_bg_color>#f5f5f5</mh_item_active_bg_color>
                <mh_item_active_color>#e66436</mh_item_active_color>
                <mh_content_color>#333333</mh_content_color>
                <mh_content_link_color>#333333</mh_content_link_color>
                <mh_content_link_hover_color>#e66436</mh_content_link_hover_color>
            </header>
            <header_top>
                <bg_color/>
                <inner_bg_color/>
                <color/>
                <link_color/>
                <link_hover_color/>
                <padding_top/>
                <padding_bottom/>
                <content_padding_top/>
                <content_padding_bottom/>
                <stretched>0</stretched>
            </header_top>
            <header_primary>
                <padding_top/>
                <padding_bottom>10</padding_bottom>
                <content_padding_top/>
                <content_padding_bottom/>
                <stretched>0</stretched>
            </header_primary>
            <nav>
                <outer_bg_color/>
                <inner_bg_color/>
                <padding_top/>
                <padding_bottom/>
                <line_height>34</line_height>
                <stretched>0</stretched>
                <border>1</border>
                <border_color>#e56334</border_color>
                <bg_color>#ffffff</bg_color>
                <color>#333333</color>
                <hover_bg_color>#e56334</hover_bg_color>
                <hover_color>#ffffff</hover_color>
                <active_bg_color>#e56334</active_bg_color>
                <active_color>#ffffff</active_color>
                <sticky_item_bg_color>#ffffff</sticky_item_bg_color>
                <sticky_item_color>#333333</sticky_item_color>
                <sticky_border>0</sticky_border>
                <level1_font_size>16</level1_font_size>
                <level1_font_uppercase>1</level1_font_uppercase>
                <mega_lev1_font_size>16</mega_lev1_font_size>
                <mega_lev1_font_uppercase>0</mega_lev1_font_uppercase>
                <dropdown_border_top>1</dropdown_border_top>
                <dropdown_border_top_color>#e56334</dropdown_border_top_color>
                <dropdown_border_all_levels>0</dropdown_border_all_levels>
                <dropdown_bg_color>#ffffff</dropdown_bg_color>
                <dropdown_color>#333333</dropdown_color>
                <dropdown_link_color>#777777</dropdown_link_color>
                <dropdown_link_hover_color>#e56334</dropdown_link_hover_color>
                <dropdown_shadow>1</dropdown_shadow>
                <mobile_link_separator_color>#eeeeee</mobile_link_separator_color>
                <mobile_shadow>1</mobile_shadow>
                <mobile_level1_font_size>18</mobile_level1_font_size>
                <mobile_level1_font_uppercase>1</mobile_level1_font_uppercase>
                <mobile_level2_font_size>18</mobile_level2_font_size>
                <mobile_level2_font_uppercase>0</mobile_level2_font_uppercase>
                <label_bg_color>#5bd2ec</label_bg_color>
                <label_color>#ffffff</label_color>
                <label_bg_color2>#d52462</label_bg_color2>
                <label_color2>#ffffff</label_color2>
                <label_hover_bg_color>#ff7214</label_hover_bg_color>
                <label_hover_color>#ffffff</label_hover_color>
            </nav>
            <main>
                <bg_color/>
                <tex>0</tex>
                <inner_bg_color>#ffffff</inner_bg_color>
                <padding_top/>
                <padding_bottom/>
            </main>
            <category>
                <grid_item_bg_color/>
                <grid_item_hover_bg_color/>
            </category>
            <product_page>
                <addto_icon_bg_color>#eeeeee</addto_icon_bg_color>
                <addto_icon_hover_bg_color>#5bd2ec</addto_icon_hover_bg_color>
                <tab_inner_bg_color>transparent</tab_inner_bg_color>
                <tab_bg_color>#eeeeee</tab_bg_color>
                <tab_color>#333333</tab_color>
                <tab_hover_bg_color>#e5e5e5</tab_hover_bg_color>
                <tab_hover_color>#333333</tab_hover_color>
                <tab_active_bg_color>#ffffff</tab_active_bg_color>
                <tab_active_color>#00a9c7</tab_active_color>
                <tab_panel_bg_color>#ffffff</tab_panel_bg_color>
                <acco_bg_color>#f5f5f5</acco_bg_color>
                <acco_color>#333333</acco_color>
                <acco_active_bg_color>#eeeeee</acco_active_bg_color>
                <acco_active_color>#00a9c7</acco_active_color>
            </product_page>
            <slideshow>
                <tool_icon_bg_color>#ffffff</tool_icon_bg_color>
                <tool_icon_color>#333333</tool_icon_color>
                <tool_icon_hover_bg_color>#000000</tool_icon_hover_bg_color>
                <tool_icon_hover_color>#ffffff</tool_icon_hover_color>
                <tool_icon_active_bg_color>#de2666</tool_icon_active_bg_color>
            </slideshow>
            <footer>
                <bg_color>#f5f5f5</bg_color>
                <tex>7</tex>
                <tex2>0</tex2>
                <inner_bg_color/>
                <color/>
                <link_color/>
                <link_hover_color/>
                <button_bg_color>#e5e5e5</button_bg_color>
                <button_color>#333333</button_color>
                <button_hover_bg_color>#e56334</button_hover_bg_color>
                <button_hover_color>#ffffff</button_hover_color>
                <tool_icon_bg_color>#e5e5e5</tool_icon_bg_color>
                <tool_icon_color>#333333</tool_icon_color>
                <tool_icon_hover_bg_color>#e56334</tool_icon_hover_bg_color>
                <tool_icon_hover_color>#ffffff</tool_icon_hover_color>
                <icon_bg_color>#666666</icon_bg_color>
                <icon_color>#ffffff</icon_color>
                <icon_hover_bg_color>#e56334</icon_hover_bg_color>
                <icon_hover_color>#ffffff</icon_hover_color>
            </footer>
            <footer_top>
                <bg_color>#ffffff</bg_color>
                <inner_bg_color/>
                <color/>
                <link_color/>
                <link_hover_color/>
                <padding_top>0</padding_top>
                <padding_bottom>0</padding_bottom>
            </footer_top>
            <footer_primary>
                <bg_color/>
                <inner_bg_color>#ffffff</inner_bg_color>
                <color/>
                <link_color/>
                <link_hover_color/>
                <padding_top>30</padding_top>
                <padding_bottom>10</padding_bottom>
            </footer_primary>
            <footer_secondary>
                <bg_color/>
                <inner_bg_color/>
                <color/>
                <link_color/>
                <link_hover_color/>
                <padding_top>0</padding_top>
                <padding_bottom>0</padding_bottom>
            </footer_secondary>
            <footer_bottom>
                <bg_color/>
                <inner_bg_color/>
                <color>#888888</color>
                <link_color>#555555</link_color>
                <link_hover_color>#de2666</link_hover_color>
            </footer_bottom>
        </ultimo_design>
        <ultimo_layout>
            <responsive>
                <responsive>1</responsive>
                <max_width>1280</max_width>
                <max_width_custom/>
                <fluid_width>0</fluid_width>
            </responsive>
        </ultimo_layout>
        <brands>
            <general>
                <attr_id>manufacturer</attr_id>
                <image_extension>png</image_extension>
                <show_image/>
                <show_image_fallback_to_text>1</show_image_fallback_to_text>
                <link_search_enabled>2</link_search_enabled>
                <page_base_path/>
                <append_category_suffix>0</append_category_suffix>
                <url_key_separator>-</url_key_separator>
                <img_url_key_separator>_</img_url_key_separator>
            </general>
            <product_view>
                <enable>1</enable>
            </product_view>
            <list>
                <all_brands>1</all_brands>
                <brands/>
                <assigned>1</assigned>
                <assigned_in_stock>0</assigned_in_stock>
            </list>
            <slider>
                <timeout/>
                <speed>200</speed>
                <auto_speed>500</auto_speed>
                <pause>1</pause>
                <loop>1</loop>
                <lazy>1</lazy>
            </slider>
        </brands>
        <cloudzoom>
            <general>
                <enable>1</enable>
                <use_cloud_zoom>1</use_cloud_zoom>
                <position>inside</position>
                <lens_opacity>50</lens_opacity>
                <zoom_width>427</zoom_width>
                <zoom_height>275</zoom_height>
                <big_image_width>650</big_image_width>
                <big_image_height>650</big_image_height>
                <tint_opacity>50</tint_opacity>
                <soft_focus>0</soft_focus>
                <smooth_move>3</smooth_move>
            </general>
            <images>
                <aspect_ratio>1</aspect_ratio>
                <main_width>467</main_width>
                <main_height/>
            </images>
            <thumbnails>
                <slider>1</slider>
                <timeout>5000</timeout>
                <speed>200</speed>
                <auto_speed>500</auto_speed>
                <loop>1</loop>
                <move>1</move>
                <lazy>1</lazy>
            </thumbnails>
            <lightbox>
                <enable>1</enable>
                <max_width>95%</max_width>
                <max_height>95%</max_height>
                <group>1</group>
            </lightbox>
        </cloudzoom>
        <ultramegamenu>
            <general>
                <enable>1</enable>
                <mode>0</mode>
                <categories>1</categories>
            </general>
            <mainmenu>
                <home>1</home>
                <home_img>0</home_img>
                <home_link_icon>0</home_link_icon>
                <spill>1</spill>
                <custom_block_floating>1</custom_block_floating>
            </mainmenu>
            <mobilemenu>
                <threshold>960</threshold>
                <collapsed>1</collapsed>
                <show_blocks>0</show_blocks>
                <hide_blocks_below>1</hide_blocks_below>
            </mobilemenu>
            <sidemenu>
                <enable_category_left>1</enable_category_left>
                <enable_category_right>0</enable_category_right>
                <enable_home_left>0</enable_home_left>
                <enable_home_right>0</enable_home_right>
                <enable_cms_left>0</enable_cms_left>
                <enable_cms_right>0</enable_cms_right>
                <enable_product_left>0</enable_product_left>
                <enable_product_right>0</enable_product_right>
                <block_name>Kategorier</block_name>
                <parent>root</parent>
                <depth>2</depth>
                <fallback>1</fallback>
                <block_name_fallback/>
                <num_of_products>0</num_of_products>
                <hide_on_mobile>1</hide_on_mobile>
                <hide_laynav_categories>1</hide_laynav_categories>
            </sidemenu>
            <category_labels>
                <label1>New</label1>
                <label2>Hot!</label2>
            </category_labels>
        </ultramegamenu>
        <ultraslideshow>
            <general>
                <effect>fadeUp</effect>
                <timeout>10000</timeout>
                <speed>200</speed>
                <auto_speed>500</auto_speed>
                <smooth_height>1</smooth_height>
                <pause>1</pause>
                <loop>1</loop>
                <hide>0</hide>
                <blocks>block_slide1,block_slide2,block_slide3</blocks>
                <position1>0</position1>
                <position2>1</position2>
                <margin_top/>
                <margin_bottom/>
            </general>
            <banners>
                <position>right</position>
                <hide>1</hide>
                <banners/>
            </banners>
            <navigation>
                <pagination>slider-pagination2</pagination>
                <pagination_position>pagination-pos-over-bottom-centered</pagination_position>
            </navigation>
        </ultraslideshow>
    </default>


</config>
