<?xml version="1.0"?>
<config>
    <modules>
        <Evalent_IwdOpc>
            <version>0.1.0</version>
        </Evalent_IwdOpc>
    </modules>
    <global>
        <blocks>
            <iwdopc>
                <class>Evalent_IwdOpc_Block</class>
            </iwdopc>
            <checkout>
                <rewrite>
                    <onepage_review_info>Evalent_IwdOpc_Block_Checkout_Onepage_Review_Info</onepage_review_info>
                    <onepage_link>Evalent_IwdOpc_Block_Checkout_Onepage_Link</onepage_link>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <iwdopc>
                <class>Evalent_IwdOpc_Helper</class>
            </iwdopc>
            <checkout>
                <rewrite>
                    <url>Evalent_IwdOpc_Helper_Url</url>
                </rewrite>
            </checkout>
            <klarna>
                <rewrite>
                    <data>Evalent_IwdOpc_Helper_Klarna</data>
                </rewrite>
            </klarna>
        </helpers>
    </global>

    <frontend>
        <layout>
            <updates>
                <evalent_iwdopc>
                    <file>evalent/iwdopc.xml</file>
                </evalent_iwdopc>
            </updates>
        </layout>
    </frontend>
    <default>
        <iwdall>
            <default>
                <jquery>0</jquery>
            </default>
        </iwdall>
        <opc>
            <global>
                <title>Snabbkassa</title>
                <status>1</status>
            </global>
            <default>
                <payment>checkmo</payment>
                <subscribe>1</subscribe>
                <subscribe_default>1</subscribe_default>
                <show_shipping>0</show_shipping>
            </default>
            <geo>
                <country>0</country>
                <country_file>GeoIP.dat</country_file>
                <city>0</city>
                <city_file>GeoLiteCity.dat</city_file>
            </geo>
            <paypal>
                <status>0</status>
            </paypal>
            <address_options>
                <field_company>0</field_company>
                <field_state>0</field_state>
                <field_fax>0</field_fax>
            </address_options>
            <design>
                <plbgcolor>#e66436</plbgcolor>
                <plovercolor>#cf5a30</plovercolor>
            </design>
        </opc>
    </default>
</config>