.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center,
.center {
  text-align: center; }

.icon {
  border-radius: 50%;
  border: 3px solid #fff;
  display: inline-block;
  height: 13px;
  vertical-align: middle;
  width: 13px; }
  .icon.pending {
    background-color: #f08c48; }
  .icon.on {
    background-color: #83c070; }
  .icon.noton {
    background-color: #e85353; }
  .icon.big {
    border: 0;
    height: 20px;
    width: 20px; }

.shadow,
.muted {
  color: #999; }

.hidden {
  display: none; }

.fm-header {
  background-color: #fff; }

.fm-switcher {
  background-color: #fff;
  border: 0;
  margin-bottom: 0;
  padding-left: 5px;
  padding-top: 10px; }

.fm-header-wrapper {
  height: 90px;
  margin: 0 auto;
  width: 950px; }

.navbar-brand {
  margin-top: 14px; }

.navbar-right {
  display: table-cell;
  float: right;
  margin-top: 20px;
  vertical-align: middle; }

.menu-icon {
  display: inline-block;
  height: 30px;
  margin-bottom: 3px;
  vertical-align: middle;
  width: 30px; }

.text-warning {
  color: #ea524f; }

.btn,
.fm-button {
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 10pt;
  outline: none;
  padding: 6px 12px;
  text-decoration: none; }

.btn:hover,
.fm-button:hover {
  text-decoration: none; }

.fm-button.green,
.btn-green,
.btn-green:visited {
  background: #83c070;
  color: #fff; }

.fm-button.red,
.btn-red,
.btn-red:visited {
  background: #e85353;
  color: #fff; }

.btn-nav,
.btn-nav:visited {
  background: #fff;
  border: 1px solid #e3e8ec;
  color: #333;
  font-size: 13pt; }

.btn-nav.active,
.btn-nav.active:visited,
.btn-nav:hover {
  background: #ea524f;
  border: 1px solid #ea524f;
  color: #fff; }

.fm-button.disabled {
  background: #e3e3e3;
  border: 1px solid #e3e3e3;
  color: #b3b3b3; }

.fm-panel {
  border-radius: 3px;
  background-color: #fff;
  margin-top: 30px;
  overflow: hidden; }
  .fm-panel .fm-panel-header {
    background-color: #799ec4;
    color: #fff;
    font-size: 15pt;
    line-height: 28px;
    padding: .4em; }
    .fm-panel .fm-panel-header .legend {
      float: right;
      font-size: 10pt;
      height: 20px;
      line-height: 19px;
      margin-top: 4px; }
  .fm-panel .fm-panel-body {
    padding: 1em; }
    .fm-panel .fm-panel-body.no-padding {
      padding: 0; }
  .fm-panel .no-padding p {
    margin: 1em; }

.form-horizontal fieldset {
  background-color: transparent;
  border: 0; }
.form-horizontal label {
  margin-top: -3pt;
  text-align: right;
  width: 48%; }
.form-horizontal input,
.form-horizontal select {
  border: 1px solid #ccc;
  float: left;
  font-size: 12pt;
  text-align: left; }
.form-horizontal .form-group {
  height: 2em; }

.fm-panel table {
  border-collapse: collapse;
  font-size: 11pt;
  width: 100%; }
  .fm-panel table th {
    background-color: #f5f8fb;
    font-size: 9pt;
    text-align: center; }
  .fm-panel table td,
  .fm-panel table th {
    border-bottom: 1px solid #e3e8ec;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 1px solid #e3e8ec;
    font-size: 9pt;
    max-width: 280px;
    overflow: hidden;
    padding: .4em; }
  .fm-panel table tr:nth-child(even) {
    background-color: #f5f8fb; }

.fm-loading-overlay {
  background: black;
  background: rgba(0, 0, 0, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999; }
  .fm-loading-overlay img {
    display: block;
    height: 128px;
    margin: 200px auto;
    width: 128px; }

.fm-message-overlay {
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.3);
  color: #fff;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .fm-message-overlay h3,
  .fm-message-overlay p {
    margin: 1em;
    text-align: center; }
  .fm-message-overlay.fm-info {
    background-color: #799ec4;
    border-color: #87acd3; }
  .fm-message-overlay.fm-error {
    background-color: #e85353;
    border-color: #f55454; }
  .fm-message-overlay.fm-warning {
    background-color: #e85353;
    border-color: #f55454; }
  .fm-message-overlay.fm-success {
    background-color: #83c070;
    border-color: #9bde87; }
  .fm-message-overlay .close {
    cursor: pointer;
    display: block;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px; }

.fm-update-message {
  background: #ea524f;
  color: #fff;
  margin-top: 30px;
  padding: 1em; }
  .fm-update-message a {
    color: #fff;
    text-decoration: underline; }

.pages {
  float: left;
  margin: 10px 0;
  width: 350px; }
  .pages ol {
    float: left;
    margin: 0;
    margin-left: 15px;
    padding: 0; }
  .pages li {
    float: left;
    list-style: none;
    margin-right: 5px; }
    .pages li.current {
      border-radius: 3px;
      background-color: #f08c48;
      color: #fff;
      display: inline-block;
      font-size: 9pt;
      line-height: 16px;
      outline: none;
      padding: 8px 12px;
      text-decoration: none; }
  .pages a {
    border-radius: 3px;
    background-color: #e3e3e3;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 9pt;
    line-height: 16px;
    outline: none;
    padding: 8px 12px;
    text-decoration: none; }
    .pages a:hover {
      background-color: #f08c48;
      color: #fff;
      text-decoration: none; }

.fm-category-tree {
  font-size: 12pt;
  list-style: none;
  margin: 0;
  padding: 0; }
  .fm-category-tree li {
    font-weight: bold;
    padding-left: 10px; }
    .fm-category-tree li.active > a {
      color: #f08c48; }
  .fm-category-tree a {
    border-bottom: 1px solid #e3e8ec;
    display: block;
    padding: 5px 10px 5px 0;
    text-decoration: none; }
    .fm-category-tree a:hover {
      color: #f08c48; }

.fm-products-list-container table img {
  border: 1px solid #e3e8ec;
  max-height: 80px; }
.fm-products-list-container .prices th,
.fm-products-list-container .prices td {
  background-color: transparent;
  border: 0;
  padding: 3px 0;
  text-align: left;
  white-space: nowrap; }
.fm-products-list-container .prices td {
  text-align: right; }
.fm-products-list-container .prices .inputdiv {
  background-color: #e3e3e3;
  border: 1px solid #b3b3b3;
  float: right;
  height: 15px;
  line-height: 15px;
  margin: 0;
  padding: 0 3px 0 0; }
.fm-products-list-container .prices tr:nth-child(even) {
  background-color: transparent; }
.fm-products-list-container .prices input {
  border: 0;
  border-right: 1px solid #b3b3b3;
  height: 11px;
  line-height: 14px;
  margin: -2px 3px 0 0;
  padding: 2px;
  width: 20px; }
.fm-products-list-container .prices input:disabled {
  background-color: #e3e3e3; }

.info {
  margin: 1em; }

.fm-product-list-controls,
.fm-order-list-controls {
  overflow: auto; }

.export {
  float: right;
  height: 3em;
  margin: 1em;
  text-align: right;
  width: 350px; }

.fm-update-product-status {
  float: left;
  margin: 1em; }

.fm-orderlist-panel {
  float: left;
  width: 700px; }

.fm-sidebar {
  float: left;
  margin-left: 10px;
  width: 240px; }
  .fm-sidebar .fm-button {
    text-align: center;
    width: 190px; }

.lastupdated {
  background-color: #f5f8fb;
  font-size: 12px;
  font-weight: 400;
  height: 41px;
  line-height: 21px;
  margin-bottom: 1em;
  padding: 10px; }
  .lastupdated img {
    float: left; }
  .lastupdated .last-header {
    display: block;
    margin: 3px 0 -5px; }

.fm-orders-list a {
  color: #f08c48;
  text-decoration: underline; }

.fm-module-check {
  list-style: none; }

.fm-probe-result {
  margin: 0 0 1em 3em;
  padding: 1em; }

.fm-probe-error .fm-probe-result {
  background: rgba(255, 0, 0, 0.1); }

.fm-probe-success .fm-probe-result {
  background: rgba(0, 255, 0, 0.1); }

.fm-container {
  background-color: #e7eef4;
  font-family: "Montserrat", sans-serif;
  font-size: 9pt;
  padding-bottom: 3em; }
  .fm-container p {
    margin: 0 0 1em; }

.fm-content-wrapper {
  margin: 0 auto;
  width: 950px; }

.fm-left-sidebar {
  float: left;
  margin-right: 10px;
  width: 240px; }

.fm-product-panel {
  float: left;
  width: 700px; }

.clear {
  clear: both; }

.fm-footer {
  margin: 1em 0 0; }

#anchor-content {
  padding: 0; }

#page\3a main-container {
  background-color: #e7eef4 !important;
  margin: 0 !important;
  padding-bottom: 20px; }
